.nav{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #393E46;
}

.logo{
    padding: 0 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    background-color: #393E46;
    font-size: 30px;
    gap: 10px;
}

.icon {
    cursor: pointer;
    padding-right: 30px;
}